* {
    box-sizing: border-box;
}

html,body   {
    width: 90%;
    margin-left: 100px ;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    height: 2050px; /* Should be removed. Only for demonstration */
}

.left {
  width: 2%;
}

.middle {
    width: 32%;
    text-align: justify!important;
    padding-right: 5px;
}
    
.right {
    width: 65%;
    text-align: justify!important;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.cacmuc{
    font-family: 'Montserrat', sans-serif !important;
    display: inline;
    font-size: 16px;
}

.tieudephai {
    font-family: 'Montserrat', sans-serif !important;
    vertical-align: middle;
    font-size: 18px;
   
}

i {
    padding-right: 5px!important;
}


/*css for icons*/
.custom-icon {
  background: #336699;
  border-radius: 50%;
  border: 2.5px solid #E5E5E5;
  color: #E5E5E5;
  display: table-cell;
  font-size: 20px;
  height: 40px;
  width: 40px;
  padding: 7px;
  text-align: center;
  vertical-align: middle;
}
.icon-wrapper {
  display: inline;
}

/*end css for icon*/

/*css for small icons*/
.custom-small-icon {
  background: #336699 ;
  border-radius: 50%;
  border: 2.5px solid #E5E5E5;
  color: #E5E5E5;
  display: table-cell;
  font-size: 12px;
  height: 12px;
  width: 12px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;

}
.small-icon-wrapper {
  display: inline;
  float: left;
}

/*end css for small icons*/
    
#info {
    width: 100%;
    height: 250px;
    margin-top: 10px;
    
    
}

#info img.avatar {
    display: block;
    margin-left: 27%;
    margin-right: auto;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #DDD;
    border: 5px solid #DDD;
}
    

#info h4 {

font-family: 'Playfair Display', serif;

font-size: 22px;

text-align: center;

margin: 15px 0px 0px 7px;

color: #336699;
}

#info p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-align: center;
    margin-top: -5px;
}


#contact hr {
    margin-left: 33px;
}


#contact {
    height: 191px;
    width: 96%;
    margin-top: 14px;
    margin-left: 10px;
}



#contact p i {
    line-height: 1;
    font-size: 25px;
    color: #336699;
    margin-left: -30px;
    
}

#contact span {
    line-height: 1.5;
    font-size: 18px;
}

#study {
    height: -webkit-fit-content: ;
    -moz-fit-content: ;
    -o-fit-content: ;
    fit-content: ;
    width: 96%;
    margin-top: 22px;
     margin-left: 10px;
}

#study.ndtext   {
    width: 96%;
}

#study hr {
    margin-left: 33px;
}



#study p i {
    padding-top:5px;
    line-height: 1;
    font-size: 25px;
    color: #336699;
}
#study a {
    line-height: 1.5;
    font-size: 19px;
}

#languages {
    height: 94px;
    width: 96%;
    margin-top: 4px;
     margin-left: 10px;
}

span.text {
    font-size: 19px;
}

#skill{
    height: 314px;
    width: 96%;
    margin-top: 17px;
     margin-left: 10px; 
}

.nutskill {
    margin-left: 110px;
}

#skill p i{
    margin-left: -110px;
    line-height: 1;
    font-size: 25px;
    color: #336699; 
}
#skill a {
    line-height: 1.5;
    font-size: 17px;
}

#skill a i {
    font-size: 15px;
    color: #666666;
}

#skill.nut {
    margin-right: 0px;
}
    
#goal{
    width: 100%;
    height: fit-content;
    padding: 0 28px 0 23px;
    margin-top: 5px;
}

#goal h6 {
    text-align: left;
    vertical-align: middle;
    margin-left: 22px;
    margin-bottom: -5px;
    
}

#goal hr {
    background-color: #336699;
    margin-left: 10px;
}

#goal a {
    font-size: 19px;
    line-height: 1.5;
    margin-left: 10px;
}
#exp {
    width: 100%;
    height: fit-content;
    margin-top: -34px;
    line-height: 1.5;
    padding: 0 28px 0 23px;
}

#exp .exp2 {
    margin-top: 10px;
}

#exp hr {
    background-color: #336699;
    margin-left: 10px;
}

#exp .vl {
    border-left: 2px solid #336699;
    height: 84px;
    position: absolute;
    margin-left: 5px;
    margin-top: 20px;
}

#exp h6 {
    text-align: left;
    vertical-align: middle;
    margin-left: 22px;
    margin-bottom: -8px;
}

#exp p i {
   line-height: 1;
    font-size: 28px;
    color: #336699; 
}

#exp a {
    font-size: 19px;
}

#exp hr {
    background-color: #336699;
}

#activities {
    width: 100%;
    height: fit-content;
    margin-top: -30px;
    line-height: 1.5;
    padding: 0 28px 0 23px;
}

#activities hr {
    background-color: #336699;
    margin-left: 10px;
}

#activities .vl {
    border-left: 2px solid #336699;
    height: 109px;
    position: absolute;
    margin-left: 5px;
    margin-top: 20px;
}

#activities h6 {
    text-align: left;
    vertical-align: middle;
    margin-left: 22px;
    margin-bottom: -8px;
}

#activities a {
    font-size: 19px;
}


#activities hr {
    background-color: #336699;
}


#tools {
    width: 100%;
    height: 162px;
    margin-left: 10px;
    margin-top: 22px;
    line-height: 1.5;
    padding: 0 28px 0 23px;
}

#tools hr {
    background-color: #336699;
    margin-left: 3px;
    width: 230px;
}

#tools .tieude {
    font-size: 18px;
    margin-bottom: -9px;
    font-family: 'Montserrat', sans-serif !important;
    margin-left: 13px;
}

#tools table {
    margin-left: 10px;
    font-size: 19px;
}

#tools table th {
    text-align: left;
    padding: 0 40px 0 0;
}

#tools table td {
    text-align: left;
    padding: 0 40px 0 0px;
}


#other {
    height: 234px;
    width: 100%;
    margin-top: -55px;
    line-height: 1.5;
    padding: 0 28px 0 23px;
}

#other h6 {
    margin-left: 25px;
}

#other hr {
    
    background-color: #336699;
        
    margin-left: 12px;
        
    margin-top: -43px;
        
    width: 230px;
}

#other p {
   
    text-align: left;
    vertical-align: middle;
    margin-left: 22px;
    margin-bottom: -8px;
}

#other a {
    line-height: 1.5;
    font-size: 19px;
}

/*CSS FOR INTERESTS*/
#interests {
    height: 234px;
    width: 100%;
    margin-top: -75px;
    line-height: 1.5;
    padding: 0 28px 0 23px;
}

#interests h6 {
    margin-left: 25px;
}

#interests hr {
    
background-color: #336699;
    
margin-left: 12px;
    
margin-top: -43px;
    
width: 230px;
}

#interests p {
   
    text-align: left;
    vertical-align: middle;
    margin-left: 22px;
    margin-bottom: -8px;
}

#interests a {
    line-height: 1.5;
    font-size: 19px;
}
        /* end */